
@media only screen and (max-width: 360px) {
  .header h1{
    font-size:28px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #1d1c1c;
  color: white;
}

.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

.parameter-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.label{
  margin-right:3px;
}

.password-input{
  flex: 1;
  border: 2px solid steelblue;
  border-radius: 5px;
  height: 30px;
  width: 95%;
  text-align: center;
  font-size:19px
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-block {
  display: block;
  width: 90%;
}

.slider{
  -webkit-appearance: none;
  color: steelblue;
  background-color:white;
  height: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(65, 156, 230);
  border-radius: 3px;
  width: 10px;
  height: 20px;
}

/* Voodoo magic to turn checkboxes steel blueS` */
input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  filter: invert(25%) hue-rotate(2deg) brightness(1.4);
}

.form-check{
  display: flex;
  text-align: center;
}

.form-control{
  width: 100%;
  margin-top: 10px;
  
}

.gen-btn{
  margin-top: 30px;
  margin: 30px auto;
}

.copy-btn{
  padding: 3px;
  float: right;
  margin-right: 16px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  color: rgb(160, 160, 160);
  background-color: white;
}

.box1{
 flex: 1;
 margin-right: 15px;

}
.box2{
  flex: 1;
  margin-right: 15px;

 }
 .box3{
  flex: 1;
  margin-right: 15px;

 }
 .box4{
  flex: 1;
 }